* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  font-size: 18px;
  --primaryColor: #2b2b2b;
  --secondaryColor: #3f69ff;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  max-width: 100%;
  font-size: 1rem;
  font-family: system-ui;
}

.header {
  width: 100%;
  height: 600px;
}

.header__top {
  width: 100%;
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__top::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background: var(--primaryColor);
  opacity: 0.2;
}

.header__top__logo {
  position: absolute;
  left: 50px;
}
/* Este es el logo del header top */
/* Despues hay que cambiarlo por un logo de verdad */
.header__top__logo a {
  color: var(--primaryColor);
  font-size: 1.5rem;
  font-weight: 600;
}

.header__top__title {
  font-size: 1.9rem;
  text-transform: uppercase;
  font-weight: 400;
  margin: auto;
}

.hero {
  width: 100%;
  height: calc(100% - 60px);
  margin: auto;
  padding: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero__slogan {
  height: 100px;
  text-align: center;
}

.hero__form {
  max-width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primaryColor);
  border-radius: 10px;
  overflow: hidden;
  padding: 30px;
}

.hero__form legend {
  color: white;
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  letter-spacing: 1px;
}

.form__hero {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__hero input {
  margin: 20px 0;
  width: 85%;
  height: 35px;
  border-radius: 3px;
  border: 1px solid rgba(207, 207, 207, 0.5);
  background: transparent;
  padding-left: 20px;
  outline: none;
  color: white;
}

/* Por el momento queda asi */
.hero__form__error {
  color: red;
}

.hero__form__button__send {
  background: white;
  width: 150px;
  height: 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  color: black;
  font-size: 1rem;
}

/* Navegacion */
.container__navbar {
  background: var(--secondaryColor);
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container__navbar .logo {
  color: white;
  font-size: 1.5rem;
  font-weight: 600;
  margin-left: 50px;
}

.nav {
  margin-right: 50px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav__list__item {
  margin: 10px;
}

.nav__list__item__element {
  font-size: 1.2rem;
  color: white;
}

.nav__list__item__element:hover {
  transition: 0.2s ease-in-out;
  color: rgba(241, 241, 241, 0.6);
}

/* Main */
/* Contenedor de filtros y productos grid */
.products {
  width: 100%;
  margin-top: 100px;
  padding: 20px;
  display: flex;
  justify-content: center;
  position: relative;
}

.products__title {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  position: absolute;
  top: -60px;
}

/* contenedor de filtros */
.product__filter {
  margin-right: 20px;
  min-width: 280px;
  max-width: 300px;
  min-height: 250px;
  max-height: 650px;
  border-radius: 5px 5px 0 0;
  background-color: var(--primaryColor);
  text-align: center;
  padding: 20px;
}

.product__filter__title {
  color: white;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.9rem;
}
/* Filtros */
.product__filter__nav,
.color__filter__nav {
  margin: 40px 0;
  position: relative;
  overflow: hidden;
}

.chevron__product__filter,
.chevron__color__filter {
  font-size: 1.6rem;
  position: absolute;
  top: 5px;
  left: 0;
  color: var(--secondaryColor);
  cursor: pointer;
}

.product__filter__nav__title,
.color__filter__nav__title {
  color: white;
  font-weight: 500;
  max-width: 75%;
  margin: auto;
  text-align: left;
  font-size: 1.4rem;
  position: relative;
  cursor: pointer;
}

.product__filter__nav__title::after,
.color__filter__nav__title::after {
  content: "";
  position: absolute;
  top: 35px;
  left: 0px;
  height: 3px;
  width: 50px;
  background-color: #f57250;
}

.product__filter__list__products,
.color__filter__list {
  margin-top: 20px;
  text-align: center;
  overflow: hidden;
  transform: translateY(0);
  transition: transform 0.5s ease;
}
/* Esto es para que no se muestren los filtros si es que el estado del filtro no es activo */
.in__active {
  height: 0;
  transform: translateY(-250px);
  transition: transform 0.5s ease;
}

.rotate {
  transform: rotate(90deg);
  transition: transform 0.2s ease;
}

.product__filter__list__products__item {
  margin: 5px;
}

.product__filter__list__element,
.product__filter__list__colors {
  font-size: 1.3rem;
  font-weight: 400;
  color: white;
}

/* Hay que escribir codigo que cuando el nav Productos este activo muestre los filtro y cuando no los oculte */

/* Lo mismo para esto */
/* Cuando el filtro esta activado cambie de color */
.product__filter__list__element:hover,
.product__filter__list__colors:hover {
  color: var(--secondaryColor);
}

.productos {
  display: flex;
  flex-wrap: wrap;
}

.productos > * {
  flex: 1 1 280px;
  margin: auto;
}

.producto {
  background-color: crimson;
  max-width: 300px;
  margin: 10px;
  color: chartreuse;
  font-size: 125%;
  height: 300px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.producto:hover {
  opacity: 0.9;
  transform: scale(0.9);
}

.producto img {
  max-width: 100%;
  height: 210px;
}

.producto figcaption {
  padding: 1rem;
}

/* Footer */

.footer {
  width: 100%;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primaryColor);
}

.footer__container {
  width: 60%;
  min-height: 225px;
  margin: auto;
  padding: 15px 0;
}

.footer__social {
  max-width: 30%;
  margin: auto auto 20px auto;
  position: relative;
}

.footer__social::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  background: #f57250;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -10px;
}

.footer__social__list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer__social__element {
  color: white;
  font-size: 1.7rem;
  text-align: center;
}

.footer__newlestter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.footer__newlestter__form {
  width: 100%;
  display: grid;
}

.footer__newlestter__form legend {
  font-size: 1.3rem;
  color: white;
}

.footer__newlestter__form input {
  background: transparent;
  outline: none;
  border: 1px solid rgba(207, 207, 207, 0.5);
  border-radius: 3px;
  height: 27px;
  padding-left: 15px;
  margin-top: 10px;
  max-width: 200px;
  width: 100%;
  color: #cfcfcf;
}

.footer__newlestter__form__btn {
  background: #f57250;
  border: none;
  outline: none;
  margin: 15px 0;
  width: 120px;
  height: 28px;
  cursor: pointer;
  color: white;
  border-radius: 3px;
  font-size: 1rem;
}

.foter__data {
  width: calc(100% - 550px);
  padding-left: 15px;
  min-width: 200px;
}

.footer__data__element {
  color: white;
}

.footer__data__element:hover {
  color: #f57250;
  transition: 0.2s ease-in;
}

/* Overlay */

.overlay {
  visibility: hidden;
  transition: visibility 0.4s ease-in;
}

.show-overlay {
  max-width: 100%;
  width: 100%;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  backdrop-filter: blur(2px);
  visibility: visible;
  transition: all 0.4s ease-in;
}

/* Login SignUp */

.card-form {
  max-width: 400px;
  min-width: 230px;
  width: 100%;
  min-height: 350px;
  margin: auto;
  position: fixed;
  z-index: 1;
  right: 0;
  left: 0;
  background: #2b2b2b;
  border-radius: 10px;
  transform: translateY(-900px);
  transition: all 0.4s ease-in;
}

.show-card-form {
  transform: translateY(0);
  transition: transform 0.4s ease-in;
}

.close-modal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 10px;
  padding-right: 20px;
  background: none;
}

#closeSignUpForm,
#closeLoginForm {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.form-sign-up,
.form-login {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.card-form legend {
  font-size: 1.8rem;
  color: white;
}

.sign-up-input,
.login-input {
  width: 100%;
  height: 40px;
  margin: 20px 0;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0 0 0 15px;
  font-size: 0.8rem;
}

.btn-form {
  width: 150px;
  border-radius: 3px;
  font-size: 1.4rem;
  border: none;
  outline: none;
  cursor: pointer;
}

.more-btn {
  background: none;
  border: none;
  outline: none;
  color: white;
  width: 100%;
  min-height: 50px;
  margin-top: 30px;
  font-size: 1.2rem;
  position: relative;
  cursor: pointer;
}

.caret-down {
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  bottom: -22px;
  right: 0;
  margin: auto;
  color: white;
  opacity: 0.3;
}

.more-btn::after {
  content: "";
  position: absolute;
  left: 0;
  opacity: 0.3;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 80%;
  height: 1px;
  background: #cfcfcf;
}

/* .more-methods-login, */
.more-methods-signup,
.more-methods-login {
  width: 100%;
  height: 0;
  margin: 25px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-24px);
  transition: all 0.3s ease-in;
}

.show-more-methods {
  opacity: 1;
  height: 140px;
  visibility: visible;
  transform: translateY(0);
  transition: all 0.5s ease-in-out;
}

.btn-google {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 200px;
  width: 70%;
  min-height: 30px;
  margin: 5px 0 15px;
  padding: 10px;
  font-size: 1.1rem;
  background: white;
  border-radius: 3px;
  border: none;
  outline: none;
}

.btn-change-form {
  margin: auto;
  border: none;
  outline: none;
  border-radius: 3px;
  position: absolute;
  right: 0;
  left: 0;
  min-height: 30px;
  max-width: 180px;
  width: 100%;
  font-size: 1.2rem;
  cursor: pointer;
}

@media screen and (min-width: 1000px) {
  .product-filter-mobile {
    display: none;
  }
  .nav-filter-products-mobile {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .products {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
  }
  .products__title {
    position: initial;
  }
  .product__filter {
    display: none;
  }

  .product-filter-mobile {
    background: #3f69ff;
    border-radius: 5px;
    max-width: 350px;
    height: 50px;
    margin: 35px 0 25px 0;
    display: flex;
    justify-content: center;
  }
  .product-filter-mobile-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .product-filter-mobile-item {
    margin: 0 15px;
    position: relative;
    width: 150px;
    cursor: pointer;
  }

  .product-filter-mobile-element {
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
  }

  .chevron-rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease-in-out;
  }

  /* Filtros */

  .nav-filter-products-mobile,
  .nav-filter-colors-mobile {
    visibility: hidden;
    position: absolute;
    left: -22px;
    top: 40px;
    z-index: 3;
    background: white;
    border-radius: 5px;
    max-width: 270px;
    min-width: 150px;
    width: 100%;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
    padding: 20px 10px;
  }

  .nav-filter-products-mobile.nav-filter-mobile-visible {
    visibility: visible;
  }

  .nav-filter-colors-mobile.nav-filter-mobile-visible {
    visibility: visible;
  }

  .item-filter-products-mobile,
  .nav-filter-colors-item {
    margin: 15px 0;
  }

  .element-filter-products-mobile,
  .nav-filter-colors-element {
    color: var(--primaryColor);
    font-weight: 500;
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 800px) {
  .hero__form {
    max-width: 350px;
  }

  .footer__social {
    max-width: 60%;
  }

  .footer__newlestter__form input {
    height: 30px;
  }

  .footer__newlestter {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    justify-content: center;
  }

  .foter__data {
    margin-bottom: 25px;
  }

  .footer__newlestter__form {
    place-items: center;
  }
}

@media screen and (max-width: 685px) {
  .header__top__title {
    font-size: 1.6rem;
  }

  .header__top__logo a {
    font-size: 1.3rem;
  }

  .hero__form {
    max-width: 300px;
  }
}

@media screen and (max-width: 550px) {
  .hero {
    padding: 0 15px;
  }

  .header__top__logo a {
    font-size: 1rem;
  }

  .header__top__title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 530px) {
  .header__top {
    display: flex;
    height: 100px;
    flex-direction: column;
  }

  .header__top__logo a {
    font-size: 1.6rem;
  }

  .header__top__logo {
    position: initial;
  }
}

@media screen and (max-width: 500px) {
  .hero {
    flex-direction: column;
    justify-content: center;
    height: calc(100% - 100px);
  }

  .hero__slogan {
    height: auto;
  }

  .show-card-form {
    top: 15%;
  }
}

@media screen and (max-width: 390px) {
  .header {
    height: 650px;
  }

  .hero__slogan {
    margin-top: -40px;
    margin-bottom: 20px;
  }

  .card-form {
    width: 90%;
  }

  .show-card-form {
    top: 10%;
  }
}

@media screen and (max-width: 345px) {
  .container__navbar__logo {
    margin-left: -30px;
  }

  .container__navbar .nav {
    margin-right: 10px;
  }

  .product-filter-mobile-element {
    font-size: 1rem;
  }

  .product-filter-mobile-list {
    text-align: center;
  }
}

@media screen and (max-width: 303px) {
  .header__top__logo a {
    font-size: 1.3rem;
  }

  .header__top__title {
    font-size: 1.3rem;
  }

  .hero__slogan__title {
    font-size: 1.4rem;
  }

  .hero__slogan__hashtag {
    font-size: 0.95rem;
  }

  .hero__form {
    padding: 15px;
  }

  .product-filter-mobile-item {
    margin: 0 5px;
  }

  .product-filter-mobile-element {
    font-size: 0.9rem;
  }
}

@media screen and (max-height: 600px) {
  .card-form {
    min-height: 310px;
    position: fixed;
    z-index: 1;
    right: 0;
    left: 0;
    background: hsl(0deg 0% 17%);
    border-radius: 10px;
    transform: translateY(-900px);
    transition: all 0.4s ease-in;
  }

  .show-card-form {
    transform: translateY(0);
    transition: transform 0.4s ease-in;
  }
}
