.hero .hero__ghost__profile {
  width: 350px;
  height: 350px;
  position: relative;
  right: 50px;
  /* bottom: 55px; */
  border-top-right-radius: 1000%;
  border-top-left-radius: 1000%;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--baseSecondary);
  border: 3px solid var(--primary);
  border-bottom: none;
  box-shadow: 10px 20px 8px rgba(0, 0, 0, 0.4);
  animation-name: animarGhost;
  animation-duration: 2.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animarGhost {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(0px);
  }
}

.name__title {
  color: white;
  font-size: 12rem;
  font-weight: 500;
  font-family: var(--secondaryFont);
}

.container-grid {
  /* width: 101.8%; */
  width: 350px;
  height: 30px;
  margin: auto;
  position: absolute;
  bottom: -29px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 1px;
}

.container-grid .border {
  border-top: transparent;
  border-left: 3px solid var(--primary);
  border-right: 3px solid var(--primary);
  border-bottom: 3px solid var(--primary);
  background: var(--baseSecondary);
  border-radius: 0 0 45% 45%;
  text-align: center;
  color: white;
  text-transform: uppercase;
  box-shadow: 5px 15px 8px rgba(0, 0, 0, 0.4);
}
